body {
  background: rgb(189, 181, 181);
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  width: 300px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
}

.card-image {
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.card p {
  padding: 10px;
  text-decoration: none;
}

.card:hover {
  background-color: rgb(189, 181, 181);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}
